html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sort {
  color: #ddd;
  cursor: pointer;
}

.sort:hover {
  color: unset;
}

.sort.sort-asc .fa-arrow-down,
.sort.sort-desc .fa-arrow-up {
  color: black;
}